markdown-checklist
mkdocs
mkdocs-material
mkdocs-macros-plugin  # 它允许你在 Markdown 文档中使用 Python 代码和 Jinja2 模板语法，实现动态内容生成和变量替换
mkdocs-minify-plugin  # 压缩 HTML、CSS、JavaScript 文件以提高加载速度
mkdocs-git-revision-date-localized-plugin  # 显示文档的最后修改时间（基于 Git）
mkdocs-awesome-pages-plugin     # 简化 MkDocs 导航配置的插件，它的核心功能是让导航结构的管理更加灵活和直观
pymdown-extensions
mkdocs-git-authors-plugin   # 显示文档的 Git 作者和贡献统计
jieba   # 支持中文分词的搜索插件

